rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // can create user if and only if they have a valid user (which involves having a valid username)
    match /users/{userId} {
        allow create: if request.auth.uid == userId && isUniqueUsernameAndOwner(request.resource.data.username);
    }

    // makes sure that only unique usernames can be added to usernames
    match /usernames/{username} {
      allow create: if isUniqueUsernameAndOwner(username);
      allow read;
    }

    // Function to ensure a user can create an account with a unique username
    function isUniqueUsernameAndOwner(username) {
      let isOwner = request.auth.uid == request.resource.data.uid;

      // Check if username already exists in the database
      let usernameNotExists = !exists(/databases/$(database)/documents/usernames/$(username));

      return isOwner && usernameNotExists;
    }
  }
}